.bouncy-loading-bar-container {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 1031;
  height: 10px;
}

.bouncy-loading-bar-dot {
  width: 10px;
  height: 10px;
  background-color: #29d;
  border-radius: 50%;
  opacity: 0.3;
  animation: pulse 1s infinite ease-in-out;
}

.bouncy-loading-bar-dot:nth-child(1) {
  animation-delay: 0s;
}
.bouncy-loading-bar-dot:nth-child(2) {
  animation-delay: 0.1s;
}
.bouncy-loading-bar-dot:nth-child(3) {
  animation-delay: 0.2s;
}
.bouncy-loading-bar-dot:nth-child(4) {
  animation-delay: 0.3s;
}
.bouncy-loading-bar-dot:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
  }
}
